/*
*
* Boiler Plate stuff 
*
*********************************/
:root {
--movie-width: 15.5vw;
--movie-height: 200px;
--arrow-width: 50px;
--slider-py: 200px;
}
@media only screen and (max-width: 1000px) {
:root {
--movie-width: 25vw;
}
}

* {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--vermelho: #ffffff;
--preto: #141414;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* elementos base */
body{
background: var(--preto);
color: #fff;
background-color: #141414;
overflow-x: hidden;

}

header .container-principal{
display: flex; /* deixa os componentes alinhados na tela */
flex-direction: row; /* alinhados em linha */
align-items: center; /* centralizados */
justify-content: space-between;
position: fixed;
background-color: #141414;
width: 100%;
margin-left: 0%;
text-indent: 20%;
}
header .logo{
color: var(--vermelho);
font-size: 40px;
}
/* conteudo-principal */
.conteudo-principal{
font-size: 16px;
/* cria um degradê no background*/
background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%), url('https://cdn.wallpapersafari.com/38/39/mebcYL.jpg');
height: 400px;
background-size: cover;
display: flex;
/* altera a orientação do display */
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.conteudo-principal .descricao{
margin-top: 10px;
margin-bottom: 90px;
}
.conteudo-principal .titulo{
margin-top: 15%;
font-size: 40px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
background-color: rgba(0,0,0, .50);
border: none;
color: #fff;
padding: 15px 30px;
margin-right: 15px;
font-size: 12px;
cursor: pointer;
/* faz uma tranzição entre as animações, usarei para suavizar o :hover */
transition: .3s ease all;
}
.botao:hover{
background-color: #fff;
color: black;

}
.botao i{
margin-right: 8px;
}
.container-principal{
margin-left: 20px;
}
.conteudo-principal .container-principal{
width: 70%;
}
.box-conteudo{
height: 100%;
width: 100%;
display: block;
}
.conteudo-carrossel{
margin-top: 5px;
}

.carousel-title{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 25px;
color: rgb(233, 233, 233);
margin-left: 3ch;
height: 28px;
margin-top: 10px;
}

/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider1 {
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
position: relative;
padding-top: 25px;
padding-bottom: 25px;
}

.slider0 {
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
position: relative;
padding-top: 25px;
padding-bottom: 25px;

}

.slider2 {
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
position: relative;
padding-top: 25px;
padding-bottom: 25px;
}

/*
*
* SLIDER INDICATORS
*
*********************************/
.container-indicators {
width: 100px;
position: absolute;
right: 0;
top: 5;
visibility: hidden;
}

.container-indicators1 {
width: 100px;
position: absolute;
right: 0;
top: 5;
visibility: hidden;
}
.indicator {
width: 15px;
height: 2px;
background-color: grey;
display: inline-block;
}
.indicator.active {
background-color: white;
}

.indicator1 {
width: 15px;
height: 2px;
background-color: grey;
display: inline-block;
}
.indicator1.active {
background-color: white;
}
.container {
background-color: #141414;
position: relative;
}



/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie0 {
height: var(--movie-height);
display: inline-block;
position: relative;
color: white;
padding: 0 2px;
font-size: 0.8rem;
transition: all 0.8s ease-in-out;
}

.movie0:nth-of-type(1) {
margin-left: var(--arrow-width);
}

.movie0 img {
object-fit: cover;
height: 400px;
width: 250px;
padding: 2px;

}

.movie1 {
height: var(--movie-height);
display: inline-block;
position: relative;
color: white;
padding: 0 2px;
font-size: 0.8rem;
transition: all 0.8s ease-in-out;
}

.movie1:nth-of-type(1) {
margin-left: var(--arrow-width);
}

.movie1 img {
object-fit: cover;
height: 400px;
width: 250px;
padding: 2px;
}

.movie2 {
height: var(--movie-height);
display: inline-block;
position: relative;
color: white;
padding: 0 2px;
font-size: 0.8rem;
transition: all 0.8s ease-in-out;
}

.movie2:nth-of-type(1) {
margin-left: var(--arrow-width);
}

.movie2 img {
object-fit: cover;
height: 400px;
width: 250px;
padding: 2px;
}


.description {
position: absolute;
display: none;
background-color: rgb(39, 39, 39);
width: 250px;
margin-top: -10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 10px 0px;
}

@media only screen and (min-width: 900px) {
.movie0:hover {
transform: scale(1.2);
z-index: 2;
}
/* Make description visible when movie is hovered */
/* .movie0:hover > .description {
display: block;
} */
.movie0:hover > img {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.movie1:hover {
transform: scale(1.2);
z-index: 2;
}
/* Make description visible when movie is hovered */
/* .movie1:hover > .description {
display: block;
} */
.movie1:hover > img {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.movie2:hover {
transform: scale(1.2);
z-index: 2;
}
/* Make description visible when movie is hovered */
/* .movie2:hover > .description {
display: block;
} */
.movie2:hover > img {
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
}

/* .description__buttons-container {
display: flex;
flex-direction: row;
padding: 10px;
}

.description__text-container {
padding: 10px;
}

.description__match {
color: green;
}

.description__rating {
outline: 1px solid white;
padding: 0 3px;
margin: 0 5px;
}

.description__button {
display: flex;
align-items: center;
justify-content: center;
width: 20px;
height: 20px;
border: 2px solid white;
text-align: center;
font-size: 8px;
margin-right: 5px;
border-radius: 100%;
}

.description__button:hover {
border-color: grey;
color: grey;
cursor: pointer;
}

.description__button:nth-of-type(5) {
margin-left: auto;
margin-right: 0;
} */

/*
*
* BUTTONS
*
*********************************/
.btn-nav {
width: var(--arrow-width);
height: 300px;
font-size: 20px;
position: absolute;
bottom: 0;
background-color: rgba(0, 0, 0, 0.781);
outline: none;
border: none;
color: white;
top: 100px;
z-index: 5;
visibility: hidden;
}

#moveLeft0 {
left: 0;
}

#moveRight0 {
right: 0;
}

#moveLeft1 {
left: 0;
}

#moveRight1 {
right: 0;
}

#moveLeft2 {
left: 0;
}

#moveRight2 {
right: 0;
}

@media only screen and (max-width: 900px) {
.btn-nav {
display: none;
}
}

@media only screen and (min-width: 901px) {
.container:hover .btn-nav,
.container:hover .container-indicators {
visibility: visible;
}
}
